/* set icon as background image of search field */
.search {
  background: url('../../../images/search.svg') no-repeat scroll 97%;
}
/* when we search for songs background image disappear */
[type=text]:not(:placeholder-shown) {
  background-image: none;
}

.random {
  background-image: url('../../../images/background_3.jpg');
}
