@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
  --primary-color: #0b8540;
  --green-border-color: #69e793;
} 

.main-color {
  background-color: var(--primary-color);
}

.border-dark-green {
  border-color: var(--green-border-color);
}


/* hex colors */

/* 1feb77 */
/* c6cfcd */
/* 21d770 */